.git
.github
.idea
.vscode
.env
.env.*
!.env.example
!.env.docker.example
node_modules
vendor
public/build
public/hot
bootstrap/cache/*.php
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
screenshots
