@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$navHeight: 120px;
$creditsHeight: 40px;
$purpleBrandColor: rgb(89, 36, 229);
$white: rgb(242, 242, 242);
$black: rgb(55, 55, 55);

html, body {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        color: $black;
    }

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    height: 100vh;
    width: 100vw;
}

a {
    color: $purpleBrandColor;
    padding-left: 8px;
    padding-right: 8px;
}

.brand-color {
    color: $purpleBrandColor;
}

.monitor-status-good {
    color: rgb(37, 171, 37);
}
.monitor-status-good-bg {
    background-color: lighten(rgb(37, 171, 37), 40%) !important;
}

.monitor-status-bad {
    color: rgb(203, 54, 54);
}
.monitor-status-bad-bg {
    background-color: lighten(rgb(203, 54, 54), 37%) !important;
}

.monitor-status-warning {
    color: rgb(213, 152, 47);
}
.monitor-status-warning-bg {
    background-color: lighten(rgb(213, 152, 47), 33%) !important;
}

h1 { font-size: 30px; }
h2 { font-size: 28px; }
h3 { font-size: 26px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 20px; }

h1, h2, h3, h4, h5, h6 {
    padding-top: 4px;
    padding-bottom: 8px;

    font-weight: 600;
}

p {
    padding-top: 4px;
    padding-bottom: 10px;
}

button, a.button {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-radius: 10px;

    margin-left: 12px;
    margin-right: 12px;

    &.confirm {
        background-color: $purpleBrandColor;
        color: $white;
    }
    &.abort {
        background-color: darken($white, 10%);
        color: $black;
    }
    &.delete {
        background-color: rgb(203, 54, 54);
        color: $white;
    }

    &:hover {
        cursor: pointer;
    }

    user-select: none;
}

input, textarea, select {
    border-radius: 10px !important;
    padding: 12px !important;
    border: 0.5px solid rgb(0, 0, 0, 0.2) !important;
    margin-top: 4px;
    margin-bottom: 10px;

    &.input-field-missing-insertion {
        border: 2px solid rgb(255, 0, 0, 0.5) !important;
        background-color: rgb(255, 0, 0, 0.2);
    }
}

table {
    width: 100%;

    td {
        padding: 12px;

        border-top: 1px solid rgb(242, 242, 242);
        border-left: 1px solid rgb(242, 242, 242);
        border-bottom: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(223, 223, 223);
    }
}

.input-row {
    display: grid;

    &.columns-1 { grid-template-columns: 1fr; }
    &.columns-2 { grid-template-columns: 1fr 1fr; }
    &.columns-3 { grid-template-columns: 1fr 1fr 1fr; }
    &.columns-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }
    &.columns-5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
    &.columns-6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }

    &.confirm-row {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 32px;
        padding-bottom: 40px;
    }

    row-gap: 24px;
    column-gap: 24px;

    .input-cell {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        label, input, select, textarea {
            width: 100%;
        }
    }
}


#app {
    display: grid;
    grid-template-rows: $navHeight calc(100vh - $navHeight - $creditsHeight) $creditsHeight;

    #app-navigation {
        height: 100%;
        background-color: rgb(234, 234, 234);

        display: flex;
        justify-content: space-between;
        align-items: center;

        a#logo-link {
            padding: 0;
            margin: 0;
        }

        a {
            padding-left: 12px;
            padding-right: 12px;
        }

        * {
            max-height: $navHeight;
        }

        #nav-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        #nav-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            background-color: $purpleBrandColor;

            height: 100%;

            a {
                color: $white;

                padding-left: 12px;
                padding-right: 12px;
            }

            button {
                background-color: $white;
                color: $purpleBrandColor;
            }
        }
    }

    #app-content {
        background-color: rgb(242, 242, 242);
        height: 100%;

        padding: 32px;

        overflow-y: auto;
        overflow-x: hidden;
    }

    #credits {
        height: $creditsHeight;
        
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);

    padding: 32px;

    border-radius: 24px;

    overflow-x: auto;
}

svg path {
    fill: $white;
}